<html>
  <head>
  </head>
  <body>
    <div>
      Your mail register at Nam Blog with name {{ member.fullName }}<br />
      <a href="{{ mlurl('_member_confirm', {'token':member.confirmationToken}) }}">Click here to active</a>
    </div>
  </body>
</html>
