{% if isAvailable %}
<div class="email_availability_checker"><span>{% trans %}The email address is still available.{% endtrans %}</span></div>
{% else %}
<div class="email_availability_checker"><span>{% trans %}This email address was used.{% endtrans %}</span></div>
{% endif %}
