<div class="member-info">
  <img width="80" height="80" alt="avatar" src="{{ asset('images/no-image1.png') }}">
  <p><a class="name" href="#">Nam</a></p>
  <div class="achievement">
    <p><a href="#">5 Chuyen muc</a></p>
    <p><a href="#">10 Bai viet</a></p>
    <p>Master</p>
  </div>
  <div class="achievement">
    <p>EXP: 100</p>
    <p>Up: 10</p>
    <p>Down: 1</p>
  </div>
  <p class="group">Tham gia tu: 12/1/2013</p>
  <p>Den tu: Ho Chi Minh, Viet Nam</p>
  <p>Xem tin nhan</p>
  <p>Thay doi thong tin ca nhan</p>
  <p>Thoat</p>
</div>

<div class="track">
  <p>Co 200 nguoi theo doi</p>
</div>

<div>
<p>Co 200 ban be</p>
<a href="#">Quan ly danh sach ban be</a>
</div>
