{% trans %}Wall{% endtrans %}
<div class="tab_container">
  <div id="random" class="tab_content">
    <ul>
      <li>nshf yteh uih dsh bae caee lkio loo rii tuu baaa kii raaa gtt reee fomm meoo lommm</li>
      <li>nshf yteh uih dsh bae caee lkio loo rii tuu baaa kii raaa gtt reee fomm meoo lommm</li>
      <li>nshf yteh uih dsh bae caee lkio loo rii tuu baaa kii raaa gtt reee fomm meoo lommm</li>
      <li>nshf yteh uih dsh bae caee lkio loo rii tuu baaa kii raaa gtt reee fomm meoo lommm</li>
      <li>nshf yteh uih dsh bae caee lkio loo rii tuu baaa kii raaa gtt reee fomm meoo lommm</li>
      <li>nshf yteh uih dsh bae caee lkio loo rii tuu baaa kii raaa gtt reee fomm meoo lommm</li>
      <li>nshf yteh uih dsh bae caee lkio loo rii tuu baaa kii raaa gtt reee fomm meoo lommm</li>
      <li>nshf yteh uih dsh bae caee lkio loo rii tuu baaa kii raaa gtt reee fomm meoo lommm</li>
      <li>nshf yteh uih dsh bae caee lkio loo rii tuu baaa kii raaa gtt reee fomm meoo lommm</li>
      <li>nshf yteh uih dsh bae caee lkio loo rii tuu baaa kii raaa gtt reee fomm meoo lommm</li>
      <li>nshf yteh uih dsh bae caee lkio loo rii tuu baaa kii raaa gtt reee fomm meoo lommm</li>
    </ul>
  </div>
</div><!--end tab_container-->
<div class="widget">
  <h2>Discussion</h2>
  <ul>
    <li>
      <strong><a href="#">Lorem aba tum lo ca te</a></strong>
      <p>Lorem aba tum lo ca te Lorem aba tum lo ca te Lorem aba tum lo ca te Lorem aba tum lo ca te Lorem aba tum lo ca te</p>
    </li>
    <li>
      <strong><a href="#">Lorem aba tum lo ca te</a></strong>
      <p>Lorem aba tum lo ca te Lorem aba tum lo ca te Lorem aba tum lo ca te Lorem aba tum lo ca te Lorem aba tum lo ca te</p>
    </li>
    <li>
      <strong><a href="#">Lorem aba tum lo ca te</a></strong>
      <p>Lorem aba tum lo ca te Lorem aba tum lo ca te Lorem aba tum lo ca te Lorem aba tum lo ca te Lorem aba tum lo ca te</p>
    </li>
  </ul>
</div>

